[Desktop Entry]
Name=Gsub
Comment=Edit SRT and ASS/SSA subtitle files
Exec=gsub %F
Icon=io.github.obaidaalbitar.gsub
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Video;TextTools;
MimeType=application/x-subrip;text/x-ass;text/x-ssa;video/mp4;video/x-matroska;video/webm;video/x-msvideo;video/quicktime;video/x-flv;video/ogg;video/x-theora+ogg;
StartupNotify=true
